/**/*.log
/**/.DS_Store
/**/.project
/**/.classpath
/**/.settings/
/**/target
/**/test-output
/**/*.versionsBackup

source/cerebussvr/fskvdata
source/publisher/tomcat.8080
source/publisher/testdata
example/fskvdata
